{% extends 'base.html' %}
{% load static %}



{% block custom_js %}
     <script src="{% static 'js/app.js' %}"></script>
     <script src="{% static 'js/worker.js' %}"></script>
     <script src="{% static 'js/form_worker.js' %}"></script>
{% endblock %}

{% block content %}

{% if messages %}
    {% for message in messages %}
    <div class="alert alert-success messages {{ message.tags }}" role="alert">
        {{ message }}
    </div>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
      </button>
    {% endfor %}
{% endif %}



<div class="row"> 
<form method="post" enctype="multipart/form-data" id="csv_upload_form">
    {% csrf_token %}
    <table>{{ form.as_table }}</table>
    <div class="row"> 
        <input id="upload-btn" type="submit" value="Upload" class="btn"> 
    </div>
</form>
</div>
<div class="row"> 

    <div id="task_id" style="display: none;" data-taskid=""></div>
</div>


<div class="modal fade" id="progressModal" tabindex="-1" role="dialog" aria-labelledby="progressModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="progressModalLabel">Uploading</h5>
      </div>
      <div class="modal-body">
        <div class="row"> 


        <table border = "1">
             <tr>
                <th>State</th>
                <th>Message</th>
                <th>Percentage</th>
             </tr>
              <tr>
                  <td ><div id="state">N/A</div></td>
                  <td ><div id="message">N/A</div></td>
                  <td ><div id="percentage_2">N/A</div></td>
             </tr>
        </table>
        </div>
        <div class="row w-100" > 
            <div class="progress">
              <div id="percentage" class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
        </div>


      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>

{% endblock %}
