{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}



{% block custom_js %}
    <script src="{% static 'js/django-dynamic-formset/jquery.formset.js' %}"></script>
    <script type="text/javascript">
        $('.formset_row-{{ formset.prefix }}').formset({
            addText: 'add another',
            deleteText: 'remove',
            prefix: '{{ formset.prefix }}',
        });
    </script>
{% endblock %}
{% block content %}


<form class="form-horizontal" method="POST" action="">
{% csrf_token %}
{{ formset.management_form|crispy }}
{% for form in formset %}
<div class="row form-row spacer formset_row-{{ formset.prefix }} ">
    <div class="row">
        <div class="col-2">
            <label>{{form.url.label}}</label>
        </div>
        <div class="col-4">
            <div class="input-group">
                {{form.url}}
            </div>
        </div>
    </div>
    </br>
    <div class="row">
        <div class="col-2">
            <label>{{form.on_create.label}}</label>
        </div>
        <div class="col-4">
            <div class="input-group">
                {{form.on_create}}
            </div>
        </div>
    </div>

    </br>
    <div class="row">
        <div class="col-2">
            <label>{{form.on_update.label}}</label>
        </div>
        <div class="col-4">
            <div class="input-group">
                {{form.on_update}}
            </div>
        </div>
    </div>


</div>
{% endfor %}


<div class="row spacer">
    <div class="col-4 offset-2">
        <button type="submit" class="btn btn-block btn-primary">Submit</button>
    </div>
</div>



{% endblock %}
