{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}
{% load django_tables2 %}

{% block head %}
{% endblock %}

{% block custom_js %}
     <script src="{% static 'js/list.js' %}"></script>
{% endblock %}


{% block content %}

{% if messages %}
    {% for message in messages %}
    <div class="alert alert-success messages {{ message.tags }}" role="alert">
        {{ message }}
    </div>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
      </button>
    {% endfor %}
{% endif %}

<div class="row"> 
{% if filter %}
    <form action="" method="get" class="form form-inline">
        {% bootstrap_form filter.form layout='inline' %}
        {% bootstrap_button 'filter' %}
    </form>
{% endif %}

</div>

<div class="row"> 
{% render_table table 'django_tables2/bootstrap4.html' %}

</div>

{% endblock %}
