{% extends 'base.html' %}
{% load static %}


{% block custom_js %}
{% endblock %}


{% block content %}

<div class="row"> 

<form action="" method="post">
    {% csrf_token %}
    <table>{{ form.as_table }}</table>
    <div class="row"> 
        <input type="submit" value="Submit">
    </div>
</form>
</div>

{% endblock %}


