<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">Fulfil.io</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/webhook/config/">Webhook Config</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Product
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{% url "product:create" %}">Add</a>
            <a class="dropdown-item" href="/">Upload CSV</a>
            <a class="dropdown-item" href="{% url "product:paginated-list" %}">List</a>
            <a class="dropdown-item" href="{% url "product:delete" %}">Delete All</a>
        </div>
      </li>
    </ul>
    <form id="search_form" action="{% url "product:paginated-list" %}" method="get" class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" name="q" placeholder="{% if search %} {{search}} {% else %}Search{% endif %}" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit" form="search_form">Search</button>
    </form>
  </div>
</nav>
